@import "src/styles/mixins";
@import "src/styles/fonts";



.projects {
  @include container1440;
  margin-top: 210px;
  //margin: 210px 50px 80px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 500px){
    margin: 50px 20px;
  }
  .title {
    @include title;
    margin: 0;
  }
}