@import "../../styles/mixins";
@import "../../styles/fonts";

.contacts {
  @include container1440;
  margin-top: 210px;
  margin-bottom: 210px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px 0;

  &__title {
    @include textBig;
    margin: 0;
  }
}