@import "../../styles/mixins";
@import "../../styles/fonts";

.contacts {
  @include container1440;
  margin: 210px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 120px 0;
  @media all and (max-width: $media1024) {
    margin: 180px auto;
    grid-gap: 100px 0;
  }

  &__title {
    @include textBig;
    margin: 0;
  }
}