@import "../../styles/mixins";
@import "../../styles/fonts";

.projects {
  @include container1440;
  margin: 210px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 120px 0;

  @media all and (max-width: $media1024){
    margin: 180px auto;
    grid-gap: 90px 0;
  }

  @media screen and (max-width: 500px) {
    margin: 50px 20px;
  }

  &__title {
    @include textBig;
    margin: 0;
  }

  &__oboi {
    position: relative;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

}