@import "../../styles/mixins";
@import "../../styles/fonts";

.projects {
  @include container1440;
  margin-top: 210px;
  margin-bottom: 210px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px 0;

  @media screen and (max-width: 500px) {
    margin: 50px 20px;
  }

  &__title {
    @include title;
    margin: 0;
  }

  &__oboi {
    position: relative;

    img {
      object-fit: cover;
      object-position: center;
    }
  }



}