.bt-trans {
  border-top: transparent !important;
}

.bb-trans {
  border-bottom: transparent !important;
}

.br-trans {
  border-right: transparent !important;
}

.bl-trans {
  border-left: transparent !important;
}

.bb-AAA {
  border-bottom: 1px solid #AAAAAA !important;
}