.loader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;

}

// Прелоудер (preloader)
.preload {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}

.sk_double_bounce {
  width: 4em;
  height: 4em;
  position: relative;
  margin: auto;
}
.sk_double_bounce .sk_child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #337ab7;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk_double_bounce 2s infinite ease-in-out;
          animation: sk_double_bounce 2s infinite ease-in-out;
}
.sk_double_bounce .sk_double_bounce_2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
@-webkit-keyframes sk_double_bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes sk_double_bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}