@import "vars";
@import "Home.module";

$max-sm-breakpoint: 320;
$max-lg-breakpoint: 320;

// Это может быть одна из переменных точки останова медиа запроса
$small-screen: "(max-width: #{$max-sm-breakpoint}px)";
$wide-screen: "(max-width: #{$max-lg-breakpoint}px)";

/* Функция делит значение пикселя, через $target, которое мы передаем, на контекст 1%, а затем преобразует его в vw */
@function get-vw-size($target) {
  @if $target == null {
    @return null;
  }

  $vw-context: ($max-lg-breakpoint * .01) * 1px;
  @return calc($target / $vw-context) * 1vw;
}

@function get-vw-size-1024x1440($target) {
  @if $target == null {
    @return null;
  }
  $vw-result: calc($target / calc(1024 / 100));
  @return ($vw-result) * 1vw;
}

@function get-vw-size-1440plus($target) {
  @if $target == null {
    @return null;
  }
  $vw-result: ($target / (1440 / 100));
  @return ($vw-result) * 1vw;
}


@mixin vw-font-size($size) {
  font-size: get-vw-size($size);

  //@media #{$small-screen} {
  //  font-size: 13px;
  //}
}

@mixin vw-indent($type, $top, $right, $bottom, $left) {
  @if $type == padding {
    padding-top: get-vw-size($top);
    padding-right: get-vw-size($right);
    padding-bottom: get-vw-size($bottom);
    padding-left: get-vw-size($left);
  } @else {
    margin-top: get-vw-size($top);
    margin-right: get-vw-size($right);
    margin-bottom: get-vw-size($bottom);
    margin-left: get-vw-size($left);
  }
}

@mixin vw-size($type, $size) {
  @if $type == width {
    width: get-vw-size($size);
  } @else {
    height: get-vw-size($size);
  }
}

//-fonts-//

@mixin Inter {
  font-family: 'Inter', sans-serif;
}

@mixin GPN_DINWebBold {
  font-family: 'GPN_DINWebBold', sans-serif;
}

@mixin GPN_DINWebRegular {
  font-family: 'GPN_DINWebRegular', sans-serif;
}

@mixin GPN_HeliosWebCondensedBold {
  font-family: 'GPN_HeliosWebCondensedBold', sans-serif;
}

@mixin GPN_HeliosWebCondensedRegular {
  font-family: 'GPN_HeliosWebCondensedRegular', sans-serif;
}

@mixin GPN_DINWebCondensedBold {
  font-family: 'GPN_DINWebCondensedBold', sans-serif;
}

@mixin GPN_DINWebCondensedRegular {
  font-family: 'GPN_DINWebCondensedRegular', sans-serif;
}


@mixin DinProCondensed {
  font-family: 'DIN Pro Condensed', sans-serif;
  font-style: normal;
}

@mixin DinProBold {
  font-family: 'DIN Pro Condensed Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
}

@mixin DinPro {
  font-family: 'DIN Pro Condensed', sans-serif;
  font-style: normal;
}

@mixin DinProMedium {
  font-family: 'DIN Pro Condensed Medium', sans-serif;
  font-style: normal;
}

@mixin DinProBoldItalic {
  font-family: 'DIN Pro Condensed Bold Italic', sans-serif;
}

@mixin DinProItalic {
  font-family: 'DIN Pro Condensed Italic', sans-serif;
  font-weight: 500;
}

@mixin SFCompactDisplayRegular {
  font-family: 'SF Compact Display';
  font-style: normal;
}

@mixin RobotoRegular {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
}

//-text-//
@mixin Text-Set {
  text-transform: uppercase;
  color: $black-color;
  box-sizing: border-box;
  margin: 0;
}

//-media queries-//

@mixin from-320-to-1023 {
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    @content;
  }
}


@mixin from-320-to-1023_landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}


@mixin from-768-to-1279 {
  @media screen and (min-width: 767px) and (max-width: 1200px) {
    @content;
  }
}

@mixin from-1024-to-1279 {
  @media screen and (min-width: 1023px) and (max-width: 1200px) {
    @content;
  }
}

@mixin from-1280-to-1365 {
  @media screen and (min-width: 1200px) and (max-width: 1365px) {
    @content;
  }
}

@mixin from-1366-to-1439 {
  @media screen and (min-width: 1366px) and (max-width: 1399px) {
    @content;
  }
}

@mixin from-1024-to-1439 {
  @media screen and (min-width: 1023px) and (max-width: 1399px) {
    @content;
  }
}

@mixin from-768-to-1024 {
  @media screen and (min-width: 767px) and (max-width: 1024px) {
    @content;
  }
}

@mixin from-768-to-1023 {
  @media screen and (min-width: 767px) and (max-width: 1023px) {
    @content;
  }
}

@mixin from-768-to-1439 {
  @media screen and (min-width: 767px) and (max-width: 1399px) {
    @content;
  }
}

@mixin from-320-to-430 {
  @media screen and (min-width: 320px) and (max-width: 430px) {
    @content;
  }
}

@mixin from-320-to-768 {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    @content;
  }
}

@mixin from-320-to-769 {
  @media screen and (min-width: 320px) and (max-width: 768px) {
    @content;
  }
}

@mixin from-320-to-1024 {
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    @content;
  }
}

@mixin from-320-to-1439 {
  @media screen and (min-width: 320px) and (max-width: 1399px) {
    @content;
  }
}

//-other media queries-//
@mixin from-1200-to-1279 {
  @media screen and (min-width: 1200px) and (max-width: 1279px) {
    @content;
  }
}

@mixin from-768 {
  @media screen and (min-width: 767px) {
    @content;
  }
}


//-container-//
.container {
  // width: 1440px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  padding: 0 60px;


  @include from-320-to-1023 {
    padding: 0 get-vw-size(20px);
  }
  @media screen and (max-width: 320px) {
    padding: 0 20px;
  }
}

@mixin container {
  max-width: 1920px;
  width: 100%;
  padding: 0 60px;
  @include from-320-to-1023 {
    padding: 0 get-vw-size(16px);
  }
}

@mixin h85bi {
  @include DinProBoldItalic;
  font-size: 85px;
  line-height: 94%;
  color: $black-color;
  box-sizing: border-box;
}

@mixin h80b {
  @include DinProBold;
  font-size: 55px;
  line-height: 80px;
  color: $black-color;
  text-transform: uppercase;
  box-sizing: border-box;
}

@mixin h80 {
  @include DinProBoldItalic;
  font-size: 80px;
  line-height: 80px;
  color: $black-color;
  text-transform: uppercase;
  box-sizing: border-box;
}

@mixin h48 {
  @include DinProBold;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
}

@mixin h40m {
  @include DinProMedium;
  font-size: 40px;
  line-height: 34px;
  text-transform: uppercase;
  color: $dark-grey-color;
  box-sizing: border-box;
  margin: 0;
}

@mixin h36b {
  @include DinProBold;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: $black-color;
  box-sizing: border-box;
  margin: 0;
}

@mixin h32b {
  @include DinProBold;
  font-size: 32px;
  line-height: 24px;
  text-transform: uppercase;
  color: $black-color;
  box-sizing: border-box;
  margin: 0;
}

@mixin h28b {
  @include DinProBold;
  font-size: 28px;
  line-height: 24px;
  text-transform: uppercase;
  color: $black-color;
  box-sizing: border-box;
  margin: 0;
}

@mixin h24m {
  @include DinProMedium;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: $black-color;
  box-sizing: border-box;
  margin: 0;
}

@mixin h24 {
  @include DinProRegular;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: $black-color;
  box-sizing: border-box;
  margin: 0;
}

@mixin h18b {
  @include DinProBold;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: $black-color;
  box-sizing: border-box;
  margin: 0;
}

@mixin h18 {
  @include RobotoRegular();
  font-size: 18px;
  line-height: 26px;
  color: $black-color;
  box-sizing: border-box;
  margin: 0;
}

@mixin date {
  float: right;
  width: 100px;
}

/*--*/

@mixin transition-base() {
  transition: 0.2s;
}

@mixin media-mx($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin media-mn($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin wrap() {
  display: grid;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;

  @include media-mx(1280px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include media-mx(540px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @include media-mx(320px) {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin line-clamp($rows) {
  display: block;
  display: -webkit-box;
  line-clamp: $rows; /* количество строк */
  box-orient: vertical;
  -webkit-line-clamp: $rows; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

