.curs-def  {
  cursor: default !important;
}

.d-flex {
  display: flex !important;
}

.d-bock {
  display: block;
}

.flex-d-col {
  flex-direction: column !important;
}

.pos-rel {
  position: relative !important;
}

.jc-sb {
  justify-content: space-between !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.slick-active button {
  background: $blue-color !important;
}


