//-colors-//
$turquoise-color: #4DD6CB;
$light-turquoise-color: #6dc4c6ad;
$orange-color: #E65907;
$light-orange-color: #FF942D;
$blue-color: #009AFF;
$dark-blue-color: #0070BA;
$darken-blue: #004077;
$light-blue-color: rgba(0, 112, 186, 0.2);
$max-dark-blue: #003659;
$white-color: #FFFFFF;
$white-opacity: rgba(245, 245, 245, 0.94);
$grey-color: #CFCFCF;
$grey-light: #F2F5F7;
$grey-dark: #666666;
$light-grey-color: #FAF9F9;
$dark-grey-color: #AAAAAA;
$black-color: #0F0F0F;
$label-black: #2F3138;
$red: #E97160;
$grey-light-color: #CFCFCF;

// * breakpointsMaxW
$bp-container: 1350px;
$bp-991: 991.98px;
$bp-768: 767.98px;
$bp-576: 576px;
$bp-360: 359.98px;

// *=== Fonts
$DINProCond: "GPN_DINWebCondensedBold";