
.about {
  margin: 80px 50px;
  min-height: 500px;
  //border: 1px solid greenyellow;
  display: flex;
  gap: 0 170px;
  @media screen and (max-width: 500px){
    display: block;
    margin: 50px 20px;
  }

  .avatar {
    position: relative;
    max-width: 486px;
    width: 100%;
    min-height: 718px;

    @media screen and (max-width: 500px){
      min-height: 518px;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .content {

    .hello {
      color: #000;
      text-transform: uppercase;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 86px;
      margin-bottom: 32px;
    }

    .title {
      color: #000;
      text-transform: uppercase;
      margin: 0;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;

      &_style {
        margin-bottom: 88px;
        @media screen and (max-width: 500px){
          margin-bottom: 50px;
        }
      }
    }

    .specialization {
      color: #000;
      text-transform: uppercase;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      max-width: 355px;
      margin: 15px 0 0;

      svg {
        margin-right: 11px;
      }
    }

    .open {
      color: #000;
      font-family: Inter, sans-serif;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      margin: 88px 0 0;
      @media screen and (max-width: 500px){
        margin-top: 50px;
      }
    }
  }
}