@import "src/styles/mixins";
@import "src/styles/fonts";

.about {
  @include container1440;
  margin: 64px auto;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 500px) {
    display: block;
    margin: 50px 20px;
  }

  &__avatar {
    position: relative;
    max-width: 76%;
    width: 100%;
    min-height: 718px;

    @media screen and (max-width: 500px) {
      min-height: 518px;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {

    .hello {
      @include title;
      margin-bottom: 32px;
      margin-top: 134px;
    }

    .title {
      @include text32;
      margin: 0;

      &_style {
        margin-bottom: 44px;
        @media screen and (max-width: 500px) {
          margin-bottom: 50px;
        }
      }
    }

    .specialization {
      color: #000;
      text-transform: uppercase;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      max-width: 357px;
      margin: 15px 0 0;
      letter-spacing: 0.2px;

      svg {
        margin-right: 11px;
      }
    }

    .open {
      @include text32;
      margin: 88px 0 0;

      @media screen and (max-width: 500px) {
        margin-top: 50px;
      }
    }
  }
}