@import "../../styles/mixins";
@import "../../styles/fonts";
@import "src/styles/vars";

.about {
  @include container1440;
  margin: 64px auto 210px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media all and (max-width: $media1024){
    margin-bottom: 180px;
  }
  @media (max-width: $media768) {
    margin-bottom: 160px;
    display: block;
  }

  @media screen and (max-width: $media500) {
    display: block;
    margin-top: 0;
    margin-bottom: 100px;
  }

  &__avatar {
    user-select: none;
    position: relative;
    max-width: 76%;
    width: 100%;
    min-height: 718px;

    @media screen and (max-width: $media1280){
      max-width: 82%;
    }
    @media all and (max-width: $media1024){
      min-height: 551px;
    }
    @media (max-width: $media768) {
      max-width: 76%;
      height: 752px;
      margin-bottom: 80px;
    }

    @media screen and (max-width: $media500) {
      max-height: 473px;
      min-height: 473px;
      max-width: none;
      margin-bottom: 64px;
    }

    img {
      object-fit: cover;
      object-position: center;
      filter: grayscale(100%);
    }
  }

  &__content {
    @media all and (max-width: $media1024){
      padding-left: 10px;
    }
    @media all and (max-width: $media768){
      padding-left: 0;
    }

    .hello {
      @include textBig;
      user-select: none;
      margin-bottom: 32px;
      margin-top: 134px;

      @media screen and (max-width: $media1280){
        margin-top: 55px;
      }
      @media screen and (max-width: $media1024){
        margin-top: 0;
      }
      @media (max-width: $media768) {

      }
    }

    .title {
      @include textMedium;
      margin: 0;

      &_style {
        margin-bottom: 44px;
        @media screen and (max-width: 500px) {
          //margin-bottom: 42px;
        }
      }
    }

    .specialization {
      @include textSmall;
      max-width: 357px;
      margin: 15px 0 0;

      svg {
        margin-right: 11px;
      }

      @media all and (max-width: $media1024){
        max-width: none;
      }
      @media all and (max-width: $media768) {
        width: 55%;
      }
      @media (max-width: $media500) {
        width: 100%;
      }
    }

    .open {
      @include textMedium;
      margin: 88px 0 0;
      @media (max-width: $media768) {
        margin:  60px 0 0;
      }

      @media screen and (max-width: 500px) {
        margin-top: 40px;
      }
    }
  }
}