@import "src/styles/mixins";
@import "src/styles/vars";


.header {
  border-bottom: 1px solid #000;

  @media screen and (max-width: $media500){
    border-bottom: transparent;
  }
}

.nav {
  @include container1440;
  position: relative;
  margin-top: 26px;
  margin-bottom: 7px;

  @media (max-width: $media500) {
    margin: 0;
    padding-right: 7px;
  }

  &__burger {
    display: none;
    @media screen and (max-width: $media500) {
      display: flex;
      justify-content: flex-end;
      width: 20%;
      margin-left: auto;
      flex-shrink: initial;
      padding: 15px;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    margin: 0 0 0 auto;
    list-style-type: none;

    @media all and (max-width: 850px) {
      display: flex;
      justify-content: space-between;
      gap: 0;
    }

    @media screen and (max-width: $media500) {
      svg {
        padding: 15px;
      }
    }

    .link {
      font-family: Inter, sans-serif;
      font-weight: 500;
      font-size: 20px;
      text-align: end;
      text-transform: uppercase;
      padding: 4px;

      @media all and (max-width: $media1024) {
        //text-align: center;
      }
    }
  }
}
