@import "src/styles/mixins";
@import "src/styles/vars";

.like {


  &_hover {
    &:hover {
      path {
        transition: 0.3s;
        fill: $turquoise-color;
        stroke: $turquoise-color;
      }
    }
  }
}