@import "../../styles/mixins";
@import "../../styles/fonts";


.stylesWeb {
  @include container1440;
  margin-top: 210px;
  margin-bottom: 210px;
  @media all and (max-width: $media1024) {
    margin: 180px auto;
  }
  @media (max-width: $media768) {
    margin: 160px auto;
  }
  @media (max-width: $media500) {
    margin: 100px auto;
  }

  &__title {
    @include textBig;
    margin: 0 0 120px 0;

    @media all and (max-width: $media1024) {
      margin-bottom: 90px;
    }
    @media (max-width: $media768) {
      margin-bottom: 80px;
    }
    @media (max-width: $media500) {
      margin-bottom: 64px;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 75px;

  @media all and (max-width: $media1280) {
    grid-template-columns: 1.2fr 0.8fr;
    grid-gap: 0 45px;
  }
  @media all and (max-width: $media1024) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $media768) {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
  }
  @media (max-width: $media500) {
    gap: 33px 0;
  }

  &__blockWrap {
    margin-bottom: 65px;
    @media all and (max-width: $media1280) {
      margin-bottom: 0;
    }
  }

  &__block {
    display: flex;
    gap: 0 60px;
    margin-top: 48px;
    @media all and (max-width: $media1024) {
      gap: 32px 0;
      margin-top: 32px;
      flex-direction: column;
    }
    @media (max-width: $media768) {
      margin-top: 48px;
      gap: 32px 0;
    }
    @media (max-width: $media500) {
      margin-top: 40px;
    }
  }

  &__list {
    padding-left: 0;
    margin: 0;
    min-width: 180px;

    &_type {
      @media all and (max-width: $media1024) {
        padding-left: 20px;
      }
      @media (max-width: $media500) {
        padding-left: 26px;
      }
    }
  }

  &__listItem {
    @include textSmall;
    margin-bottom: 8px;


    &_listType {
      list-style-type: none;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      @media all and (max-width: $media1024) {
        margin-bottom: 18px;
      }
      @media (max-width: $media768) {
        margin-bottom: 30px;
      }
    }

    span {
      margin-right: 11px;
    }
  }

  &__img {
    position: relative;
    max-height: 326px;
    @media screen and (max-width: $media1280) {
      max-height: 257px;
    }
    @media all and (max-width: $media1024) {
      max-height: 238px;
    }
    @media (max-width: $media768) {
      min-height: 350px;
      max-height: 350px;
    }
    @media (max-width: $media500) {
      min-height: 170px;
      max-height: 170px;
      order: -1;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__description {
    @include textMedium;
    margin: 0;

    @media (max-width: $media768) {
      max-width: 500px;
    }
  }
}