@import "../../styles/mixins";
@import "../../styles/fonts";


.stylesWeb {
  @include container1440;
  margin-top: 210px;
  margin-bottom: 210px;

  &__title {
    @include textBig;
    margin: 0 0 120px 0;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 75px;

  &__blockWrap {
    margin-bottom: 65px;
  }

  &__block {
    display: flex;
    gap: 0 60px;
    margin-top: 48px;
  }

  &__list {
    padding-left: 0;
    margin: 0;
    min-width: 180px;
  }

  &__listItem {
    @include textSmall;
    margin-bottom: 8px;
    &_listType {
      list-style-type: none;
      margin-bottom: 30px;
    }
    span {
      margin-right: 11px;
    }
  }

  &__img {
    position: relative;


    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__description {
    @include textMedium;
    margin: 0;
  }
}